
.App {
}

.App-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(26,43,75);
  color: white;
  height: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.logo-bar{
  max-width: 90px;
}
.app-menu, .app-search{
  max-height: 30px;
}
.logo-bar, .app-menu{
  margin-left: 10px;
  margin-top: 4px;
}
.app-search{
  margin-top: 4px;
  margin-right: 4px;
}
