.player-card-contact{
  background-color: rgb(232,62,83)!important;
  width: 60vw;
  margin: 10px 20vw 0 20vw !important;
}
.player-card-contact__contact-button{
  background-color: rgb(232,62,83);
  border-radius: 12px;
  border-style: solid;
  border-color: white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  width: 125px;
  cursor: pointer;
}
.player-card-contact__stats, .player-card-contact__cv{
  cursor: pointer;
}
.player-card-contact__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px!important;
}
.player-card-contact__value-leftmost{
  margin-left: 50px;
}
.player-card-contact__value-rightmost{
  margin-right: 50px;
}
@media only screen and (max-width: 750px) {
  .player-card-contact{
    margin: 10px 0 0 0!important;
    width: 100vw;
  }
}