.player-screen__landscape {
  height: 0;
  padding-top: 120px;
  background-image: linear-gradient(to top, rgba(204, 204, 255, 0.3), rgba(0, 0, 51, 0.3)), url("/images/audience.jpg");
  background-position: center;
  background-size: cover;
}
.player-screen__avatar {
  position: absolute;
  top: calc(170px - 70px);
  left: calc(50% - 50px);
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(232,62,83);
}
.player-card-name{
  width: 60vw;
  margin: 0 20vw 0 20vw !important;
}
.player-card-name_playerName {
  text-align: center;
  margin-top: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: rgb(26,43,75);
  font-weight: bold;
}
.player-card-name_playerPosition{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(26,43,75);
  font-size: 13px;
}
@media only screen and (max-width: 750px) {
  .player-card-name{
    margin: 0!important;
    width: 100vw;
  }
}