.player-card-info{
  width: 60vw;
  margin: 0 20vw 0 20vw !important;
}
.MuiCardContent-root-30{
  padding-bottom: 10px!important;
}
.player-card-info{
  margin-top: 10px!important;
}
.player-card-info__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-card-info__value{
  text-align: center;
}
.player-data{
  color: rgb(232,62,83);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
}
.player-data-name{
  font-family: 'Montserrat', sans-serif;
  color: rgb(26,43,75);
  font-size: 13px;
}
.value-leftmost{
  margin-left: 50px;
}
.value-rightmost{
  margin-right: 50px;
}
.TabIndicator-root-63.TabIndicator-colorPrimary-64.MuiTabs-indicator-47{
  background-color: rgb(232,62,83)!important;
}

.react-swipeable-view-container, .MuiTabs-flexContainer-40{
  background-color: white;
}
.MuiTabs-flexContainer-40{

  -webkit-box-shadow: 0 4px 2px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 4px 2px 0 rgba(0,0,0,0.75);
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.75);
}
@media only screen and (max-width: 750px) {
  .player-card-info{
    margin: 10px 0 0 0!important;
    width: 100vw;
  }
  .TabIndicator-root-63.TabIndicator-colorPrimary-64.MuiTabs-indicator-47{
    max-width: 35vw!important
  }
}
::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}
