.post, .container-info__options{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}
.container-info__options{
  width: 30vw;
}
.img-post{
  max-height: 150px;
  width: 20vw;
  background-position: center;
  background-size: cover;
}
.post__container-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px 40px 0 0;
}
.container-info__description{
  color: rgb(80,80,80);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: justify;
}
.container-info__date{
  color: rgb(130,129,130);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.container-info__likes, .container-info__comments{
  color: rgb(154,153,153);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px 0 0;
}
.post__img, .post__container-info{
  width: 50%;
}
.post__img{
margin-top: 15px;
  text-align: center;
}
.value-rightmost-comments{
  margin-right: 15vw;
}
@media only screen and (max-width: 750px) {

  .post__container-info {
    width: 50%;
    margin: 12px 10px 0 0;
  }
  .container-info__options{
    width: 45vw;
    margin-top: 5px;
  }
  .container-info__date{
    font-size: 10px;
    margin-top: 5px;
  }
  .comment-icon, .like-icon{
    max-width: 20px;
    max-height: 20px;
  }
  .container-info__description{
    font-size: 13px;
  }
  .likes-amount, .comments-amount{
    font-size: 15px;
  }
  .img-post{
    min-width: 180px;
  }
  .post__img{
    width: 50%;
  }
  .post{
    width: 95vw;
  }
}
