.player-card-description{
  text-align: justify;
  width: 60vw;
  margin: 10px 20vw 0 20vw !important;
}
.player-card-description__about-content{
  color: rgb(56,71,99);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin: 5px;
}
.player-card-description__about-name{
  color: rgb(26,43,75);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 5px;
}
@media only screen and (max-width: 750px) {
  .player-card-description{
    margin: 10px 0 0 0!important;
    width: 100vw;
  }
}