.player-card-social-net{
  margin: 10px 20vw 0 20vw !important;
  width: 60vw;
}
.player-card-social-net__img-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-card-social-net__value-leftmost{
  margin-left: 50px;
}
.player-card-social-net__value-rightmost{
  margin-right: 50px;
}
@media only screen and (max-width: 750px) {
  .player-card-social-net{
    margin: 10px 0 0 0!important;
    width: 100vw;
  }
}